<h1>Editing money manager</h1>

<%= render "form", money_manager: @money_manager %>

<br>

<div>
  <%= link_to "Show this money manager", @money_manager %> |
  <%= link_to "Back to money managers", money_managers_path %>
</div>
